<h1>Aareon Angular Test</h1>
<form [formGroup]="testForm">
  <div class="form">
    <div class="form__row">
      <label>Title</label>
      <select>
        <option value="">-- Select an option --</option>
        <option *ngFor="let title of titleList" 
          [selected]="title.isDefault" value="title">
          {{title.name}}
        </option>
      </select>
    </div>
    <div class="form__row">
      <label>First name</label>
      <input type="text" placeholder="First name"/>
    </div>
    <div class="form__row">
      <label>Last name</label>
      <input type="text" placeholder="Last name"/>
    </div>
    <!-- TODO: add error message -->
    <span></span>
    <div class="form__conditions">
      <input type="checkbox"/>
      <label>I accept the terms & conditions</label>
    </div>
    <div class="form__submit">
      <button>Submit</button>
    </div>
  </div>
</form>